
@import "./src/variables.scss";

.about-hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%);
  padding: $header-height 0 0 70px;
  h1 {
    font-size: min(max(1.8rem, 7vw), 15rem);
  }
  p {
    font-size: min(max(1.8rem, 14vw), 4rem);
  }
}

.about-information {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("./AboutUs.png");
  background-size: cover;
  background-attachment: fixed;
  .info-container {
    width: 50%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    p {
      font-size: min(max(1.8rem, 4vw), 2.4rem);
      text-align: center;
    }
  }
}

.image-scroll {
  width: 100%;
  height: 40vh;
  img {
    width: 100%;
    height: 100%;

  }
}

.meet-team {
  width: 100%;
  background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%);
  background-attachment: fixed;
  padding: 0 70px;
  h1 {
    font-size: min(max(1.8rem, 4vw), 9rem);
  }
  .team-container {
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    .person {
      $transform-speed: 250ms;
      position: relative;
      width: 27%;
      margin-inline: auto;

      .person-img-container {
        aspect-ratio: 1 / 1.3;
        display: grid;
        align-items: end;
        border-radius: 0 0 100vw 100vw;
        overflow: hidden;
        transition: transform $transform-speed ease;

        .circle {
          position: absolute;
          inset: auto 0;
          width: 100%;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          margin-inline: auto;
          object-fit: cover;
        }
        .person-img {
          width: 100%;
          height: auto;
          position: relative;
          left: 0rem;
          z-index: 2;
          transform: scale(1);
          transition: transform $transform-speed ease;
        }

      }
      .person-img-container:hover {
        transform: scale(1.05);
      }

      .person-img-container:hover .person-img {
        transform:
          scale(1.05)
          translateY(-1.1rem);
      }

      p:nth-of-type(1) {
        margin-top: 20px;
        font-size: min(max(1.8rem, 4vw), 3.5rem);
        text-align: center;
      }
      p:nth-of-type(2) {
        font-size: min(max(1.8rem, 4vw), 2.4rem);
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  // s1 no padding
  .about-hero {
    padding: $header-height 0 0 40px;
    h1 {
      font-size: min(max(1.8rem, 20vw), 9rem);
    }
    p {
      font-size: min(max(1.8rem, 16vw), 4rem);
    }
  }
  // s2 1 width full. flex row
  .about-information {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .info-container {
      width: 100%;
      padding: 35px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-attachment: fixed;
      p {
        font-size: min(max(1.8rem, 4vw), 2.4rem);
        text-align: center;
      }
    }
  }
  // s3 no padding
  .meet-team {
    width: 100%;
    background-image: url("background.png");
    background-attachment: fixed;
    padding: 0 0;
  }
}

@media only screen and (max-width: 1000px) {
  // s1
  .about-hero {
    padding: $header-height 0 0 25px;
  }
}

@media only screen and (max-width: 450px) {
  // s1
  .about-hero {
    padding: $header-height 0 0 25px;
  }
}

@media only screen and (max-width: 320px) {
  // s1
  .about-hero {
    padding: $header-height 0 0 5px;
  }
}