
@import "./src/variables.scss";

.about-hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%);
  padding: $header-height 0 0 70px;
  h1 {
    font-size: min(max(1.8rem, 4vw), 9rem);
  }
  p {
    font-size: min(max(1.8rem, 4vw), 4rem);
  }
}

.about-information {
  width: 100%;
  background-image: url("background.png");
  background-attachment: fixed;
  .info-container {
    margin: 0 70px;
    display: flex;
    gap: 25px;
    .info-img-container {
      width: 45%;
      height: 350px;
      margin: 10px;
      background-color: blue;
    }
    .info-txt-container {
      width: 55%;
      padding: 0 25px;
      margin: 10px;
      color: $accent-light;
      font-weight: $font-bold;
      font-size: min(max(1.8rem, 4vw), 2.8rem);
      display: flex;
      align-items: center;
    }
  }
}

.about-vid {
  width: 100%;
  height: 50vh;
  background-color: orange;
}

.meet-team {
  width: 100%;
  background-image: url("background.png");
  background-attachment: fixed;
  padding: 0 70px;
  h1 {
    font-size: min(max(1.8rem, 4vw), 9rem);
  }
  .team-container {
    width: 100%;
    .team-box {
      padding: 10px 0;
      width: 100%;
      display: flex;
      .team-left {
        background-color: orange;
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .team-img-container {
          outline: 1px solid blue;
          width: 200px;
          height: 200px;
          border-radius: 100%;
          img {
            width: 100%;
            height: 120%;
            transition: translate 0.5s;
          }
          img:hover {
            translate: 0 -10% 0;
          }
        }
        p:nth-of-type(1) {
          font-size: min(max(1.8rem, 4vw), 3.5rem);
        }
        p:nth-of-type(2) {
          font-size: min(max(1.8rem, 4vw), 2.4rem);
        }
      }
      .team-right {
        width: 80%;
        padding: 0 25px;
        color: white;
        font-size: min(max(1.8rem, 4vw), 2.8rem);
        display: flex;
        align-items: center;
      }
    }
  }
}