
@import "../../variables.scss";

.snap-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

.career-select {
  width: 100%;
  height: 100vh;
  background-image: url("./background.png");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .box-container {
    width: 75%;
    height: 75%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    // grid
    --margin: 35px;
    margin: var(--margin);
    grid-gap: var(--margin);
    gap: var(--margin);
  }
  .career-box {
    background-color: $accent-light;
    color: $bg-dark;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    text-decoration: none;
  }
  .position-title {
      font-size: min(max(1.8rem, 4vw), 3.6rem);
      font-weight: $font-bold;
  }
  .position-desc {
      font-size: min(max(1.8rem, 4vw), 2.6rem);
      font-weight: $font-semibold;
  }
  .position-view {
    font-size: min(max(1.8rem, 4vw), 3.6rem);
    font-weight: $font-semibold;
    text-decoration: underline;
  }
}

.career-contact {
  width: 100%;
  height: 100vh;
  background-color: #3A2138;
  padding: 150px;
  display: flex;
  .career-contact-wrapper {
    width: 50%;
    height: 100%;
    outline: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: min(max(1.8rem, 4vw), 4.5rem);
    }
    .contact-wrapper {
      width: 80%;
    }
    label {
      font-size: min(max(1.8rem, 4vw), 2rem);
    }
    input {
      border-radius: 1rem;
    }
    .text-container {
      width: 100%;
      textarea {
        display: block;
        width: 100%;
        border-radius: 1rem;
      }
    }
    .submit-container {
      width: 50%;
      input {
        width: 100%;
      }
    }
  }
  .contact-img {
    width: 50%;
    height: 100%;
    outline: 1px solid blue;
  }

}
