
@import "../../variables.scss";

.snap-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

.career-select {
  width: 100%;
  height: 100vh;
  background-image: url("./background.png");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .box-container {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    // grid
    --margin: 75px;
    margin: var(--margin) !important;
    grid-gap: var(--margin);
    gap: var(--margin);
  }
  .career-box {
    background-color: $accent-main;
    color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  p:nth-of-type(1) {
    font-size: min(max(1.8rem, 4vw), 3.6rem);
    font-weight: $font-bold;
  }
  p:nth-of-type(2) {
    font-size: min(max(1.8rem, 4vw), 2.6rem);
    font-weight: $font-bold;
  }
  li {
    list-style-type: disc;
    margin-left: 17px;
    font-size: min(max(1.8rem, 4vw), 1.8rem);
  }
  p:nth-of-type(3) {
    font-size: min(max(1.8rem, 4vw), 2.6rem);
    font-weight: $font-bold;
  }
  a {
    font-size: min(max(1.8rem, 4vw), 2.6rem);
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: blue;
  }
}

.career-contact {
  width: 100%;
  height: 100vh;
  background-color: #3A2138;
  padding: 200px;
}
