@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import "./src/variables.scss";

// globals 
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

a {
  display: inline-block;
}

// contact btn
.contact-btn { // might change this to a styled component
  padding: 15px 20px;
  color: white;
  font-size: 48px;
  border: 3px solid white;
  border-radius: 30px;
  text-decoration: none;
}

.contact-btn:hover {
  filter: brightness(120%);
  box-shadow: 3px 3px 8px #000;
}

.contact-btn:active {
  box-shadow: inset 5px 5px 8px #000;
}

.contact-btn::after {
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background-color: #fff;
  transition: 0.2s width linear;
  margin: 0 auto;
  border-radius: 50px;
}

.contact-btn:hover::after {
  width: 100%;
}

// main vert carousel
#root { height: 100vh }
html,
body {
  position: relative;
  height: 100%;
  font-size: 62.5%;
}

body {
  background: white;
  font-size: 1.4rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper1 {
  width: 100%;
  height: 100vh;
  background: white;
}

.swiper-slide {
  font-size: 1.8rem;
  color: #fff;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 145vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: 15px;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $text-accent;
}

// Hero/Section 1

.hero {
  width: 100%;
  height: 100vh;

  .device-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;

    div {
      width: 300px;
      height: 300px;
      background-color: grey;
    }
  }


}

// Section 2

.s2-bg {
  width: 100%;
  height: 100vh;
  background-image: url("./s2-bg.png"); // change this to an actual gradient maybe?
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; // this is going to cause some issues, use a padding instead on the button
}

.s2-top-wrapper {
  margin-bottom: 25px;
  padding: 100px 150px 0 150px;
  display: flex;
  align-items: center;
}

.s2-example-img {
  max-width: 100%;
  height: auto;
}

.s2-h1 {
  font-size: 9.5rem;
  font-weight: $font-semibold;
  text-align: right;
}

.s2-span {
  font-weight: $font-extrabold;
}


// Section 3

.s3-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 70px 0 20px 0; 
  .s3-top-wrapper {
    width: 100%;
    height: 50vh;
    padding: 0 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      width: 60%;
      font-size: 9.5rem;
      font-weight: $font-semibold;
    }
  }
  .info-wrapper {
    width: 100%;
    height: 50vh;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 400px;
      height: 300px;
      background-color: $accent-main;
      color: $text-light;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      p:nth-of-type(1) {
        font-size: 3.6rem;
        font-weight: $font-bold;
        text-align: center;
      }
      p:nth-of-type(2) {
        font-size: 2.6rem;
        font-weight: $font-semibold;
        text-align: center;
      }
    }
  }
}

// atropos
.s3-phone-atropos {
  width: 20%;
  height: 100%;
}

.s3-phone {
  width: 100%;
  height: 100%;
}

// Section 4 Horizontal carousel
.mySwiper2 {
  width: 100%;
  height: 100vh;
  background-color: blue;
  .swiper-slide {
    padding: 0 150px;
    .slider-wrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .slider-img { // change this to a fractional, static unit bad
        width: 400px;
        height: 400px;
      }
      .slider-txt {
        width: 400px;
        height: 400px;
      }
    }
  }
}

// Section 5 articles
.mySwiper3 {
  width: 100%;
  height: 300px;
  margin-top: 80px;
  .swiper-slide {
    background-color: white;
    color: black;
  }
}

// Section 6 - Convinced?
.convinced {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img:nth-of-type(1) {
    width: 200px;
    height: 200px;
  }
  p {
    font-size: 9rem;
    font-weight: $font-semibold;
  }
  img:nth-of-type(2) {
    width: 2500px;
    height: 2500px;
    margin-top: -320px;
    z-index: -1;
    animation: globey-spin 20s linear infinite; // maybe make is face stay still
  }
}

@keyframes globey-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 1400px) {
  .s2-top-wrapper {
    flex-direction: column;
    padding: 0;
    .s2-h1 {
      font-size: 5rem;
      text-align: center;
    }
  }
}