
$cloudWidth: 320px;

.clouds {
  // this might need to change to a linear gradient for file size sake,
  // don't want it too big for obvious reasons
  background: rgb(205,205,205);
  background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(126,171,208,1) 50%, rgba(67,118,176,1) 100%);
  position: relative;
  padding-top: 70px;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  background-color: #00b4ff;
}

.initialCloud {
  position: absolute;
  left: 100%;
  top: 130px;
  animation: moveFirst 8s linear .2s;
  animation-iteration-count: 1;
  width: $cloudWidth;
}

.firstCloud {
  position: absolute;
  left: -30%;
  top: 100px;
  animation: move 16s linear 9s infinite;
  width: $cloudWidth;
}

.secondCloud {
  position: absolute;
  left: -30%;
  top: 200px;
  animation: move 20s linear 0s infinite;
  width: $cloudWidth;
}

.thirdCloud {
  top: 250px;
  left: -30%;
  position: absolute;
  animation: move 16s linear 1s infinite;
  width: $cloudWidth;
}

.fourthCloud {
  top: 300px;
  left: -30%;
  position: absolute;
  animation: move 18s linear 12s infinite;
  width: $cloudWidth;
}

.fifthCloud {
  top: 460px;
  left: -30%;
  position: absolute;
  animation: move 24s linear 13s infinite;
  width: $cloudWidth;
}

#svgCloud {
  fill: #e3eeec;
}

@keyframes move {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}

@keyframes moveFirst {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}