
@import "./src/variables.scss";

// globals 


#root {
  width: 100%;
  height: 100vh;
}

a {
  display: inline-block;
}

html {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  color: white;
}

// screen snap/lock thingy

.snap-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

// Hero/Section 1

.hero {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-image: url("./background.png");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .rocket-ship {
    animation: ad-bob 3s infinite linear;
    width: 400px;
    height: 1000px;
    transform: rotate(90deg);
    background-color: white;
  }
}

@keyframes ad-bob {
  0% {
    translate: 0;
  }
  25% {
    translate: 0 2%;
  }
  50% {
    translate: 0;
  }
  75% {
    translate: 0 -2%;
  }
  100% {
    translate: 0;
  }
}

// Section 2

.s2 {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding: $header-height 150px;
  background: rgb(2,0,36);
  background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;

  .s2-top-wrapper {
    display: flex;
    align-items: center;
    .s2-box {
      width: 50%;
    }
  }

  .s2-example-img {
    max-width: 100%;
    height: auto;
  }
  
  .s2-h1 {
    font-size: min(max(1.8rem, 4vw), 100rem);
    font-weight: $font-semibold;
    text-align: right;
    text-shadow: 2px 4px 2px rgba(255, 255, 255, 0.6);
  }
  
  .s2-span {
    font-weight: $font-extrabold;
  }
}

// Section 3

.s3 {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  padding: 70px 20px;
  background-image: url("./background.png");
  background-attachment: fixed;

  .s3-left-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .s3-box {
      width: 100%;
      height: 24%;
      background-color: $accent-darkpurple;
      color: $text-light;
      padding: 20px 60px;
      border: 2px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      transition: all 0.1s;
      .s3-box-icon {
        width: 150px;
        height: 150px;
        border: 1px solid white;
        border-radius: 100%;
      }
      .s3-box-text {
        width: calc(100% - 150px);
        height: 100%;
        padding: 0 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p:nth-of-type(1) {
          font-size: min(max(1.8rem, 4vw), 3.8rem);
          font-weight: $font-bold;
          text-align: center;
          text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
        }
        p:nth-of-type(2) {
          font-size: min(max(1.8rem, 4vw), 2.6rem);
          font-weight: $font-semibold;
          text-align: center;
          text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
        }
      }
    }
    .s3-box-active {
      box-shadow: inset 7px 7px 10px #000;
    }
    .s3-box-active::after {
      content: "";
      height: 3%;
      position: absolute;
      bottom: 0;
      animation: load-bar 5s linear infinite;
      background-color: blue;
    }
  }

  .s3-right-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    div img {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes load-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

// Section 4 Horizontal carousel
.mySwiper1 {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: blue;
  .swiper-slide:nth-of-type(1) {
    background-color: blue;
    color: white;
  }
  .swiper-slide:nth-of-type(2) {
    background-color: #5a9586;
  }
  .swiper-slide:nth-of-type(3) {
    background-color: red;
  }
  .swiper-slide .slider-wrapper:nth-of-type(1) {
    width: 100%;
    height: 100vh;
    padding: 0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .s4-box {
      width: 600px;
      height: 600px;
    }
    .slider-img {
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .slider-txt {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      p:nth-of-type(1) {
        font-size: min(max(1.8rem, 4vw), 4rem);
        font-weight: $font-semibold;
      }
      p:nth-of-type(2) {
        font-size: min(max(1.8rem, 4vw), 2.5rem);
      }
    }
  }
}

// swiper buttons
.swiper-button-prev, .swiper-button-next {
  color: white;
}

// swiper pagination
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
}

// Section 5 articles
.mySwiper2 {
  width: 100%;
  height: 300px;
  .swiper-slide {
    div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 2rem;
      .link-container {
        width: 100%;
        height: 25%;
        padding: 10px;
        background-color: black;
        opacity: 0.7;
        transition: 0.6s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 2rem 2rem;
        p {
          color: white;
          font-size: min(max(1.8rem, 4vw), 2.4rem);
        }
        a {
          text-decoration: underline;
          font-size: min(max(1.8rem, 4vw), 2.2rem);
          color: white;
        }
        .view-more {
          text-decoration: underline;
        }
      }
      .link-container:hover {
        height: 30%;
        opacity: 0.9;
        justify-content: center;
      }
    }
  }
}

// articles
.article-1 {
  background-image: url("./articles/article1.jpg");
  background-size: cover;
}
.article-2 {
  background-image: url("./articles/article2.jpg");
  background-size: cover;
}
.article-3 {
  background-image: url("./articles/article3.jpg");
  background-size: cover;
}
.article-4 {
  background-image: url("./articles/article4.jpg");
  background-size: cover;
}
.article-5 {
  background-image: url("./articles/article5.jpg");
  background-size: cover;
}
.article-6 {
  background-image: url("./articles/article6.jpg");
  background-size: cover;
}
.article-7 {
  background-image: url("./articles/article7.jpg");
  background-size: cover;
}

// Section 6 - Convinced?
.convinced {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
  .hot-beans-gif {
    max-width: 200px;
    height: auto;
    z-index: 1;
  }
  p {
    font-size: min(max(1.8rem, 5vw), 9rem);
    letter-spacing: 10px;
    font-weight: $font-semibold;
    z-index: 1;
    text-shadow: 4px 6px 3px rgba(0, 0, 0, 0.6);
  }
  .about-btn {
    text-decoration: underline;
    margin-top: 15px;
    color: $accent-main;
    font-size: min(max(1.8rem, 4vw), 4rem);
    z-index: 1;
  }
  .globey-sit {
    position: absolute;
    bottom: 0;
    .globey {
      width: 100%;
      height: auto;
      bottom: 0;
    }
  }
}
