
@import "./src/variables.scss";

// globals 


#root {
  width: 100%;
  height: 100vh;
}

// screen snap/lock thingy
@media (prefers-reduced-motion: no-preference) {
  .snap-wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  section {
    scroll-snap-align: start;
  }
}

@media (prefers-reduced-motion: reduce) {
  .snap-wrapper {
    width: 100%;
    height: 100vh;
  }
  section {
    scroll-snap-align: unset !important;
  }
}


// Hero/Section 1

.hero {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-image: url("./background.png");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .rocket-ship {
    animation: ad-bob 3s infinite linear;
    width: 400px;
    height: 1000px;
    transform: rotate(90deg);
    background-color: white;
  }
}

@media (prefers-reduced-motion: reduce) {
  .rocket-ship {
    width: 400px;
    height: 1000px;
    transform: rotate(90deg);
    background-color: white;
  }
}

@keyframes ad-bob {
  0% {
    translate: 0;
  }
  25% {
    translate: 0 2%;
  }
  50% {
    translate: 0;
  }
  75% {
    translate: 0 -2%;
  }
  100% {
    translate: 0;
  }
}

// Section 2

.s2 {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding: $header-height 150px;
  background: rgb(2,0,36);
  background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;

  .s2-top-wrapper {
    display: flex;
    align-items: center;
    .s2-box {
      width: 50%;
    }
  }

  .s2-example-img {
    max-width: 100%;
    height: auto;
  }
  
  .s2-h1 {
    font-size: min(max(1.8rem, 4vw), 100rem);
    font-weight: $font-semibold;
    text-align: right;
    text-shadow: 2px 4px 2px rgba(255, 255, 255, 0.6);
  }
  
  .s2-span {
    font-weight: $font-extrabold;
  }
}

// Section 3

.s3 {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  padding: 70px 20px;
  background-image: url("./background.png");
  background-attachment: fixed;

  .s3-left-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .s3-box {
      width: 100%;
      height: 24%;
      background-color: $accent-darkpurple;
      color: $text-light;
      padding: 15px 50px;
      border: 2px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      transition: all 0.1s;
      .s3-box-icon {
        height: 100%;
        aspect-ratio: 1 / 1;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        * {
          width: 50%;
          height: 50%;      
        }
      }
      .s3-box-text {
        width: 100%;
        height: 100%;
        padding: 0 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        -webkit-user-select: none;
        p:nth-of-type(1) {
          font-size: min(max(1.8rem, 4vw), 3.4rem);
          font-weight: $font-bold;
          text-align: center;
          text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
        }
        p:nth-of-type(2) {
          font-size: min(max(1.8rem, 1.3vw), 2.2rem);
          font-weight: $font-semibold;
          text-align: center;
          text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
        }
      }
    }
    .s3-box-active {
      box-shadow: inset 7px 7px 10px #000;
    }
    .s3-box-active::after {
      content: "";
      height: 3%;
      position: absolute;
      bottom: 0;
      animation: load-bar 5s linear infinite;
      background-color: blue;
    }
  }

  .s3-right-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .s3-right-img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .s3-right-text {
      display: none;
    }
  }
}

@keyframes load-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

// Section 4 Horizontal carousel
.mySwiper1 {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: blue;
  .swiper-slide:nth-of-type(1) {
    background-color: blue;
    color: white;
  }
  .swiper-slide:nth-of-type(2) {
    background-color: #5a9586;
  }
  .swiper-slide:nth-of-type(3) {
    background-color: #8478DD;
  }
  .swiper-slide .slider-wrapper:nth-of-type(1) {
    width: 100%;
    height: 100vh;
    padding: 0 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    user-select: none;
    -webkit-user-select: none;
    .s4-box {
      width: 600px;
      height: 600px;
    }
    .slider-img {
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .slider-txt {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      p:nth-of-type(1) {
        font-size: min(max(1.8rem, 2vw), 4rem);
        font-weight: $font-semibold;
      }
      p:nth-of-type(2) {
        font-size: min(max(1.8rem, 1.7vw), 2.5rem);
      }
    }
  }
}

// swiper buttons
.swiper-button-prev, .swiper-button-next {
  color: white;
}

// swiper pagination
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
}

// Section 5 articles
.mySwiper2 {
  width: 100%;
  height: 300px;
  .swiper-slide {
    div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 2rem;
      .link-container {
        width: 100%;
        height: 25%;
        padding: 10px;
        background-color: black;
        opacity: 0.7;
        transition: 0.6s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 2rem 2rem;
        p {
          color: white;
          font-size: min(max(1.8rem, 4vw), 2.4rem);
          user-select: none;
          -webkit-user-select: none;
        }
        a {
          text-decoration: underline;
          font-size: min(max(1.8rem, 4vw), 2.2rem);
          color: white;
        }
        .view-more {
          text-decoration: underline;
        }
      }
      .link-container:hover {
        height: 30%;
        opacity: 0.9;
        justify-content: center;
      }
    }
  }
}

// articles
.article-1 {
  background-image: url("./articles/article1.jpg");
  background-size: cover;
}
.article-2 {
  background-image: url("./articles/article2.jpg");
  background-size: cover;
}
.article-3 {
  background-image: url("./articles/article3.jpg");
  background-size: cover;
}
.article-4 {
  background-image: url("./articles/article4.jpg");
  background-size: cover;
}
.article-5 {
  background-image: url("./articles/article5.jpg");
  background-size: cover;
}
.article-6 {
  background-image: url("./articles/article6.jpg");
  background-size: cover;
}
.article-7 {
  background-image: url("./articles/article7.jpg");
  background-size: cover;
}

// Section 6 - Convinced?
.convinced {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
  .hot-beans-gif {
    max-width: 200px;
    height: auto;
    z-index: 1;
  }
  p {
    font-size: min(max(1.8rem, 5vw), 9rem);
    letter-spacing: 10px;
    font-weight: $font-semibold;
    z-index: 1;
    text-shadow: 4px 6px 3px rgba(0, 0, 0, 0.6);
  }
  .about-btn {
    text-decoration: underline;
    margin-top: 15px;
    color: $accent-main;
    font-size: min(max(1.8rem, 4vw), 4rem);
    z-index: 1;
  }
  .globey-sit {
    position: absolute;
    bottom: 0;
    .globey {
      width: 100%;
      height: auto;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 1400px) {
  // THIS IS VERY TEMPORARY PLEASE CHANGE LOLOLOLOLOL TODO
  @media (prefers-reduced-motion: no-preference) {
    .rocket-ship {
      animation: ad-bob 3s infinite linear;
      width: 400px;
      height: 90vw;
      transform: rotate(90deg);
      background-color: white;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .rocket-ship {
      width: 400px;
      height: 90vw;
      transform: rotate(90deg);
      background-color: white;
    }
  }

  // s1 check once art is complete
  // s2 padding
  .s2 {
    padding: $header-height 50px; 
    .s2-h1 {
      font-size: min(max(1.8rem, 5vw), 100rem);
    }
  }
  // s3 full design change
  .s3 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column-reverse;
    padding: $header-height 0 0 0;
    background-image: url("./background.png");
    background-attachment: fixed;
  
    .s3-left-wrapper {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
  
      .s3-box {
        width: 25%;
        height: 100%;
        background-color: $accent-darkpurple;
        color: $text-light;
        padding: 15px 15px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.1s;
        .s3-box-icon {
          display: none;
          height: 100%;
          aspect-ratio: 1 / 1;
          border: 1px solid white;
          border-radius: 50%;
        }
        .s3-box-text {
          width: 100%;
          height: 100%;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p:nth-of-type(1) {
            font-size: min(max(1.8rem, 4vw), 3.4rem);
            font-weight: $font-bold;
            text-align: center;
            text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
          }
          p:nth-of-type(2) {
            font-size: min(max(1.8rem, 1.3vw), 2.2rem);
            font-weight: $font-semibold;
            text-align: center;
            text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
          }
        }
      }
      .s3-box-active {
        box-shadow: inset 7px 7px 10px #000;
      }
      .s3-box-active::after {
        content: "";
        height: 4%;
        position: absolute;
        bottom: 0;
        animation: load-bar 5s linear infinite;
        background-color: blue;
      }
    }
  
    .s3-right-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      .s3-right-img {
        width: 100%;
        max-height: 100%;
      }
      .s3-right-text {
        display: none;
      }
    }
  }
  // s4 nothing
  .mySwiper1 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: blue;
    .swiper-slide:nth-of-type(1) {
      background-color: blue;
      color: white;
    }
    .swiper-slide:nth-of-type(2) {
      background-color: #5a9586;
    }
    .swiper-slide:nth-of-type(3) {
      background-color: #8478DD;
    }
    .swiper-slide .slider-wrapper:nth-of-type(1) {
      width: 100%;
      height: 100vh;
      padding: 0 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 10%;
      user-select: none;
      -webkit-user-select: none;
      .s4-box {
        width: 600px;
        height: 600px;
      }
      .slider-img {
        display: flex;
        align-content: center;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
  
      .slider-txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        p:nth-of-type(1) {
          font-size: min(max(1.8rem, 2.7vw), 4rem);
          font-weight: $font-semibold;
        }
        p:nth-of-type(2) {
          font-size: min(max(1.8rem, 2.7vw), 2.5rem);
        }
      }
    }
  }
  // s5 ensure clouds work and globey
}

@media only screen and (max-width: 1000px) {
  // s1 ship probably needs rotating
  // s2 flex-direction: row;
  .s2 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: $header-height 0px;
    background: rgb(2,0,36);
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  
    .s2-top-wrapper {
      flex-direction: column;
      .s2-box {
        width: 70%;
      }
    }
    
    .s2-h1 {
      font-size: min(max(1.8rem, 4.5vw), 100rem);
      font-weight: $font-semibold;
      text-align: center;
      text-shadow: 2px 4px 2px rgba(255, 255, 255, 0.6);
    }
  }
  // s3 full design change
  .s2 {
    padding: $header-height 50px; 
    .s2-h1 {
      font-size: min(max(1.8rem, 5vw), 100rem);
    }
  }
  // s3 full design change
  .s3 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column-reverse;
    padding: $header-height 0 0 0;
    background-image: url("./background.png");
    background-attachment: fixed;
  
    .s3-left-wrapper {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
  
      .s3-box {
        width: 50%;
        height: 50%;
        background-color: $accent-darkpurple;
        color: $text-light;
        padding: 15px 50px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.1s;
        .s3-box-icon {
          display: none;
          height: 100%;
          aspect-ratio: 1 / 1;
          border: 1px solid white;
          border-radius: 50%;
        }
        .s3-box-text {
          width: 100%;
          height: 100%;
          padding: 0 2%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p:nth-of-type(1) {
            font-size: min(max(1.8rem, 4vw), 3.4rem);
            font-weight: $font-bold;
            text-align: center;
            text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
          }
          p:nth-of-type(2) {
            font-size: min(max(1.8rem, 1.3vw), 2.2rem);
            font-weight: $font-semibold;
            text-align: center;
            text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
            display: none;
          }
        }
      }
      .s3-box-active {
        box-shadow: inset 7px 7px 10px #000;
      }
      .s3-box-active::after {
        content: "";
        height: 10%;
        position: absolute;
        bottom: 0;
        animation: load-bar 5s linear infinite;
        background-color: blue;
      }
    }
  
    .s3-right-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      .s3-right-img {
        width: 100%;
        height: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .s3-right-text {
        background-color: $accent-darkpurple;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 1px solid white;
        width: 100%;
        display: block;
        text-align: center;
        font-size: min(max(1.8rem, 5vw), 2.4rem);
      }
    }
  }
  // s4 padding
  .mySwiper1 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: blue;
    .swiper-slide:nth-of-type(1) {
      background-color: blue;
      color: white;
    }
    .swiper-slide:nth-of-type(2) {
      background-color: #5a9586;
    }
    .swiper-slide:nth-of-type(3) {
      background-color: #8478DD;
    }
    .swiper-slide .slider-wrapper:nth-of-type(1) {
      width: 100%;
      height: 100vh;
      padding: 70px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0;
      user-select: none;
      -webkit-user-select: none;
      .s4-box {
        width: 80%;
        height: 80%;
      }
      .slider-img {
        display: flex;
        align-content: center;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
  
      .slider-txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        text-align: center;
        p:nth-of-type(1) {
          font-size: min(max(1.8rem, 2.7vw), 4rem);
          font-weight: $font-semibold;
        }
        p:nth-of-type(2) {
          font-size: min(max(1.8rem, 2.7vw), 2.5rem);
        }
      }
    }
  }
  // s5 ensure clouds work and globey
}

@media only screen and (max-width: 800px) {
  // s1 ship needs rotating
  // s2 h1 sizing
  .s2 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: $header-height 0px;
    background: rgb(2,0,36);
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  
    .s2-top-wrapper {
      flex-direction: column;
      .s2-box {
        width: 50%;
      }
    }
    
    .s2-h1 {
      font-size: min(max(1.8rem, 6vw), 100rem);
      font-weight: $font-semibold;
      text-align: center;
      text-shadow: 2px 4px 2px rgba(255, 255, 255, 0.6);
    }
  }
  // s3 same as 1000px
  // s4 flex-direction: row;
  
  // s5 ensure clouds work and globey
}

@media only screen and (max-width: 600px) {
  // s2
  .s2 {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: $header-height 0px;
    background: rgb(2,0,36);
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(56,32,55,1) 50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  
    .s2-top-wrapper {
      flex-direction: column;
      .s2-box {
        width: 90%;
      }
    }
    
    .s2-h1 {
      font-size: min(max(1.8rem, 6vw), 100rem);
      font-weight: $font-semibold;
      text-align: center;
      text-shadow: 2px 4px 2px rgba(255, 255, 255, 0.6);
    }
  }
}