
.contact-btn {
  padding: 6px 20px;
  color: white;
  font-size: min(max(1.8rem, 4vw), 5rem);
  border: 3px solid white;
  border-radius: 1.2rem;
  text-decoration: none;
  z-index: 1;
}

.contact-btn:hover {
  filter: brightness(120%);
  box-shadow: 3px 3px 8px #000;
}

.contact-btn:active {
  box-shadow: inset 5px 5px 8px #000;
}

.contact-btn::after {
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background-color: #fff;
  transition: 0.2s width linear;
  margin: 0 auto;
  border-radius: 50px;
}

.contact-btn:hover::after {
  width: 100%;
}