@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "./src/variables.scss";

section {
  footer {
    width: 100%;
    height: 120px;
    background-color: $accent-main;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    nav {
      width: 40%;
      ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 5px;
        li a {
          color: white;
          font-size: 2.8rem;
        }
        li a::after {
          content: "";
          display: block;
          height: 4px;
          width: 0;
          background-color: #fff;
          transition: 0.3s width linear;
          margin: 0 auto;
          border-radius: 50px;
        }
        li a:hover::after {
          width: 100%;
        }
      }
    }
    p {
      font-size: 2rem;
    }
  }
}