$cloudSize: 20%;

.clouds {
  background: rgb(205,205,205);
  background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(126,171,208,1) 50%, rgba(67,118,176,1) 100%);
  position: relative;
  padding-top: 70px;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  background-color: #00b4ff;
}

.cloud {
  position: absolute;
  animation-name: moveCloud;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#svgCloud {
  fill: #e3eeec;
  stroke: #000;
  stroke-width: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes moveCloud {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  #svgCloud {
    fill: #e3eeec;
    stroke: #000;
    stroke-width: 2px;
    display: none;
  }
}