
@import "./src/variables.scss";

// Section 5
.mySwiper2 {
  width: 100%;
  height: 40%;
  // swiper buttons
  .swiper-button-next,
  .swiper-button-prev {
    color: $accent-main;
  }
  .swiper-slide {
    a {
      position: relative;
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  
      .bottom-container {
        position: absolute;
        bottom: -30%;
        width: 100%;
        height: 30%;
        padding: 10px;
        background-color: black;
        opacity: 0.7;
        transition: 0.6s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3%;
  
        p {
          color: white;
          font-size: min(max(1.8rem, 4vw), 2.4rem);
          user-select: none;
          -webkit-user-select: none;
        }
  
        .view-more {
          text-decoration: underline;
          color: white;
        }
      }
  
      &:hover .bottom-container {
        opacity: 0.9;
      }
    }
  }
}

// articles
.article-1 {
  background-image: url("../../assets/articles/article1.jpg");
  background-size: cover;
  background-position: center;
}
.article-2 {
  background-image: url("../../assets/articles/article2.jpg");
  background-size: cover;
  background-position: center;
}
.article-3 {
  background-image: url("../../assets/articles/article3.jpg");
  background-size: cover;
  background-position: center;
}
.article-4 {
  background-image: url("../../assets/articles/article4.jpg");
  background-size: cover;
  background-position: center;
}
.article-5 {
  background-image: url("../../assets/articles/article5.jpg");
  background-size: cover;
  background-position: center;
}
.article-6 {
  background-image: url("../../assets/articles/article6.jpg");
  background-size: cover;
  background-position: center;
}
.article-7 {
  background-image: url("../../assets/articles/article7.jpg");
  background-size: cover;
  background-position: center;
}

// Section 6
.convinced {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.globey {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
  }
}

.content-wrapper {
  margin-top: 170px;
  position: relative;
  z-index: 2;
}


@media only screen and (max-width: 1400px) {
  .bottom-container p {
    font-size: min(max(1.8rem, 4vw), 2.1rem) !important;
  }
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 800px) {
  .bottom-container p {
    font-size: min(max(1.8rem, 4vw), 2rem) !important;
  }
}

@media only screen and (max-width: 600px) {
  .swiper-slide a:hover .bottom-container {
    opacity: 0.7 !important;
  }
}