
@import "./src/variables.scss";

.hero {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.rocket-ship {
  width: 55%;
  height: 55%;
  transform: scaleX(-1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-down {
  all: unset;

  font-size: min(max(1.8rem, 4vw), 6rem);
  cursor: pointer;

  position: absolute;
  bottom: 5%;
  overflow:hidden;
  color: #fff;
  z-index: 0;
  padding: 1rem 2rem;
}

.arrow-down div {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 3rem;
  padding: 6px; /* the thickness of the border */
  /* the below will do the magic */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, /* this will cover only the content area (no padding) */ 
     linear-gradient(#fff 0 0); /* this will cover all the area */
  -webkit-mask-composite: xor; /* needed for old browsers until the below is more supported */
  mask-composite: exclude; /* this will exclude the first layer from the second so only the padding area will be kept visible */
}

.arrow-down div::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  background: linear-gradient(
    $accent-main 25%,
    #fff 75%,
  );
}

.arrow-down div::before {
  animation: arrow-button 2s infinite linear;
}



@keyframes arrow-button {
  0% {
    transform: translate(-50%, -50%) rotate(0deg)
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rocket-ship {
    animation:
      rocket-change 400ms infinite, // I like 400ms
      rocket-bob 4s infinite linear, // I like 4s
      rocket-rotate 500ms infinite linear; // I like 300ms
  }
}

@media (prefers-reduced-motion: reduce) {
  .rocket-ship {
    background-image: url("../../assets/rocket3.png");
  }
}

// makes rocketship bob
@keyframes rocket-bob {
  0% {
    translate: 0;
  }
  25% {
    translate: 0 6%;
  }
  50% {
    translate: 0;
  }
  75% {
    translate: 0 -6%;
  }
  100% {
    translate: 0;
  }
}

// changes rocket image
@keyframes rocket-change {
  0% {
    background-image: url("../../assets/rocket2.png");
  }
  99% {
    background-image: url("../../assets/rocket3.png");
  }
  100% {
    background-image: url("../../assets/rocket3.png");
  }
}

// rotates rocket
@keyframes rocket-rotate {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 0.4deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -0.4deg;
  }
  100% {
    rotate: 0deg;
  }
}


// Responsive
@media only screen and (max-width: 1000px) {
  .hero {
    .arrow-down {
      font-size: min(max(2.2rem, 8vw), 4rem);
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    .rocket-ship {
      width: 60vh;
      height: 95vw;
      transform:
        scaleX(-1)
        rotate(-90deg);
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    .rocket-ship {
      width: 60vh;
      height: 95vw;
      transform:
        scaleX(-1)
        rotate(-90deg);
    }
  }
}