
$bg-light: #3A2138;
$bg-dark: #1C1F2F;
$accent-light: white;
$accent-main: #FF005C;
$accent-darkpurple: #3A2138;
$accent-lightpurple: #834BEB;
$accent-orange: #FFA049;
$accent-yellow: #FAFF00;

$text-light: white;
$text-dark: black;
$text-accent: #FF005C;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;